@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  min-height: 100vh;
  
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  contain: inline-size;
}

.pattern-bkg {
  background-color: #e5e5f7;
opacity: 0.1;
background-size: 12px 12px;
background-image: repeating-linear-gradient(45deg, #444cf7 0, #444cf7 1.2000000000000002px, #e5e5f7 0, #e5e5f7 50%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
